*{
  margin: 0px;
  padding: 0px;
}
.flex{
  display: flex;
  align-items: center;
}
body{
  font-family: 'Noto Sans', sans-serif;
}
ul{
  list-style: none;
}
nav{
  justify-content: space-evenly;
  position: fixed;
  top:0px;
  width:100%;
}
.ctg div{
 margin-left: 10px;
 margin-right: 10px;
}
.logo{
  color:rgb(255, 128, 0);
  font-size: 30px;
}
.card-container{
  
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-right:70px ;
  margin-left: 70px;
}
.cards{
  
  flex-direction: column;
  height:350px;
  justify-content: space-evenly;
  width:350px;
  margin:20px;
 overflow: auto;
 background-color: rgb(227, 229, 229);

}
.cards:hover{
  box-shadow: 0 0 4px black;
}
.image{
  height:200px;
  width:200px;
  overflow: auto;
}
.title{
  height:50px;
  width:300px;
  overflow: auto;
}
.description{
  height:100px;
  width:300px;
  overflow: auto;
  color: gray;
}
li:hover{
  background-color: darkgrey;
}
